@model SePantry_1.Models.Active_Product

@{
    ViewBag.Title = "Product Inventory - Add product";
}

<h2>Product Inventory - Add product</h2>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Active Product</legend>

        <div class="editor-label">
           @Html.LabelFor(model => model.category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.category)
            @Html.ValidationMessageFor(model => model.category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.manufacturer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.manufacturer)
            @Html.ValidationMessageFor(model => model.manufacturer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isCanned)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isCanned)
            @Html.ValidationMessageFor(model => model.isCanned)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
