@model SePantry_1.Models.Active_Product

@{
    ViewBag.Title = "Product Inventory - Delete";
}

<h2>Product Inventory - Delete products</h2>
<br />

<h3>Are you sure you want to delete this item?</h3><br />
<fieldset>
    <legend>Active Product</legend>
    <table class="tableShaded">
        <tr>
            <th>@Html.DisplayNameFor(model => model.category)</th>
            <th>@Html.DisplayNameFor(model => model.title)</th>
            <th>@Html.DisplayNameFor(model => model.manufacturer)</th>
            <th>@Html.DisplayNameFor(model => model.isCanned)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.category)</td>
            <td>@Html.DisplayFor(model => model.title)</td>
            <td>@Html.DisplayFor(model => model.manufacturer)</td>
            <td>@Html.DisplayFor(model => model.isCanned)</td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="registerButton" id="inRole5" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}



<style>
    footer {
        position: fixed;
    }
</style>