@model SePantry_1.Models.Active_Product

@{
    ViewBag.Title = "Product Inventory- Product Details";
}

<h2>Product Inventory - Product details</h2>
<br />

<fieldset>
    <legend>Active_Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isCanned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isCanned)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
