@model SePantry_1.Models.LocalPasswordModel
<section id="loginForm">
    <h3>Change password</h3>

    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()


        <fieldset>
            <ul class="loginReg">
                <li>
                    @*@Html.LabelFor(m => m.OldPassword)*@
                    @Html.LabelFor(m => m.OldPassword, new { @class = "userLabel" })<br />

                    @Html.PasswordFor(m => m.OldPassword, new { @class = "userbox" })
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "userLabel" })<br />
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "userbox" })
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "userLabel" })<br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "userbox" })
                </li>
            </ul>
            @*<input type="submit" value="Change password" />*@
            <input class="registerButton" type="submit" value="Change password" />

        </fieldset>
    }
</section>