@model SePantry_1.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <legend> 
        <h3>Create a new account</h3> 
    </legend>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>        
        <ol class="loginReg">
        <li>
            @Html.LabelFor(m => m.FirstName, new { @class = "userLabel" })<br />
            @Html.TextBoxFor(m => m.FirstName, new { @class = "userbox" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </li>
        <li>
            @Html.LabelFor(m => m.LastName, new { @class = "userLabel" })<br />
            @Html.TextBoxFor(m => m.LastName, new { @class = "userbox" })
            @Html.ValidationMessageFor(m => m.LastName)
        </li>
        <li>                     
            @Html.LabelFor(m => m.Email, new { @class = "userLabel" })<br />
            @Html.TextBoxFor(m => m.Email, new { @class = "userbox" })
            @Html.ValidationMessageFor(m => m.Email)
        </li>

        <li>
           @Html.LabelFor(m => m.UserName, new { @class = "userLabel" })<br />
           @Html.TextBoxFor(m => m.UserName, new { @class = "userbox" })
           @Html.ValidationMessageFor(m => m.UserName)
   
        </li>


        <li>
            @Html.LabelFor(m => m.WNumber, new { @class = "userLabel" })<br />
            @Html.PasswordFor(m => m.WNumber, new { @class = "userbox" })
            @Html.ValidationMessageFor(m => m.WNumber)
        </li>

        <li>
            @Html.LabelFor(m => m.Password, new { @class = "userLabel" })<br />
            @Html.PasswordFor(m => m.Password, new { @class = "userbox" })
            @Html.ValidationMessageFor(m => m.Password)
   
        </li>

        <li>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "userLabel" })<br />
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "userbox" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
    
        </li>
        
        </ol>
        <br />
        <input class="registerButton"  type="submit" value="Register" />
    </fieldset>
}
<br />
<p>
    @Html.ActionLink("Login", "Login") if you already have an account.
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
