@model SePantry_1.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <legend> 
        <h3>Create a new account</h3> 
    </legend>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>        
        <ol class="loginReg">
            <li>
                @Html.LabelFor(m => m.UserName, new { @class = "userLabel" }):
                @Html.TextBoxFor(m => m.UserName, new { @class = "userbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.Password, new { @class = "userLabel" }):
                @Html.PasswordFor(m => m.Password, new { @class = "userbox" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "userLabel" }):
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "userbox" })
            </li>
        </ol>
        <br />
        <input class="loginButton"  type="submit" value="Register" />
    </fieldset>
}
<br />
<p>
    @Html.ActionLink("Login", "Login") if you already have an account.
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    footer {
        position: fixed;
    }
</style>