
@{
    ViewBag.Title = "RoleCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewBag.ResultMessage</h3>
<div class="spacerBody">
    
    <h4> @Html.ActionLink("Roles", "RoleIndex", "RoleManager") | @Html.ActionLink("Add Role to User", "RoleAddToUser", "RoleManager")</h4>
    <h2>Role Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            Role name
        </div>
         <fieldset class="loginReg">
                <p>
                    @Html.TextBox("RoleName", "", new { @class = "userbox" })
                </p>
             <input class="registerButton" id="inRole4" type="submit" value="Save" />
        </fieldset>
        }
</div>


<style>
    footer {
        position: fixed;
    }
</style>