@model SePantry_1.Models.Product_History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product_History</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isCanned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isCanned)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCheckedOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCheckedOut)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
