@model IEnumerable<SePantry_1.Models.Admin>

@{
    ViewBag.Title = "Admin Index - SE Pantry.";
}

<h2>Welcome, Admin</h2>
@if (Roles.GetRolesForUser().Contains("Admin"))
{
        <br /><br />
    <ul class="nav nav-pills">
        <li class="active"><a>Admin Home</a></li>
        <li>@Html.ActionLink("Customers", "Index", "UserProfiles")</li>
        <li>@Html.ActionLink("Checkout", "Index", "Admin")</li>

<<<<<<< HEAD
        <li>@Html.ActionLink("Edit Roles", "RoleAddToUser", "RoleManager")</li>
        <li>@Html.ActionLink("Make User Account", "Index", "Admin")</li>
        <li>@Html.ActionLink("Send Mass Email", "MassEmail", "Email")</li>
=======
        <li>@Html.ActionLink("EditRoles", "RoleAddToUser", "RoleManager")</li>
        <li>@Html.ActionLink("MakeUserAccount", "Index", "Admin")</li>
        <li>@Html.ActionLink("Donors", "Index", "DonorModels")</li>
        <li>@Html.ActionLink("SendMassEmail", "MassEmail", "Email")</li>
>>>>>>> c19f15a8b1a541104a917f31ff6e23f1aed064c3
    </ul>
}
<!--
<table class="table">
    <p>
    @Html.ActionLink("Create New", "Create")
</p>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
-->


<style>
    footer {
        position: fixed;
    }
</style>
