<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SEPantry</title>
    
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/ui-lightness/jquery-ui.ui-lightness.css")
    @Styles.Render("~/Content/custom_style.css")
    @Styles.Render("~/Content/for_login.css")
    @Styles.Render("~/Content/animate-custom.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
 
    <script src="~/Scripts/for_popup_login.js"></script>
  
    <style>
        /*header *{
            background-color:#048545;
        }*/
        /*float-right{
            background-color:#048545;
        }
        float-left{
            background-color:#048545;
        }*/
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    
                </button>
                <a class="navbar-brand" href="~/"><img src="~/Content/images/sepantry-l.png" width="383" height="54" /></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    
                    <li>@Html.ActionLink("Inventory", "Index", "Active_Products")</li>
                     
                    @if (Roles.GetRolesForUser().Contains("Admin")) {

                     <li>@Html.ActionLink("Admin Dashboard", "Index", "AdminDashboard")</li>
                       
                    }
                    @if (Roles.GetRolesForUser().Contains("User"))
                    {
                        <li>@Html.ActionLink("My History", "Index", "Product_Detail")</li>
                    }

                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    
    <!-- BODY -->
    <div id="body">
        <div class="container">
            <div class="content-start">
             
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        </div>
            </div>
    </div>
    
    <!-- FOOTER-->
    <footer>
        <div class="container">
        <div class="content-wrapper">
            <div class="footer-center">
                <p style="text-align:left; font-weight:bold;" class="col-md-5">&copy;Southeastern Food Pantry - @DateTime.Now.Year</p>
                <p style="text-align:right; font-weight:bold;" class="footer-links">@Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Contact", "Contact", "Home")</p>
            </div>
            
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
